
<%- include('./partials/header') %>

<div class="view-url">
    <h1>Url extension directs to /<%= shortUrl.url %></h1>
    <a href="<%= shortUrl.link %>">GO TO /<%= shortUrl.url %></a>
</div>

<%- include('./partials/footer') %>