
<%- include('./partials/header') %>

    <h1>Url created for /<%= shortUrl.url %></h1>
    <a href="/">Go to home</a> | <a href="<%= shortUrl.link %>">Go to /<%= shortUrl.url %> </a>

<%- include('./partials/footer') %>